<div class="homepage-banner">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1555215695-3004980ad54e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <h1>Lets find you a place to call Home.</h1>
</div>

<div>

  <%= render 'shared/homecard' %>

  <%= yield %>
</div>
